.screen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .main{
        // background: black;
        width: 100%;
        height: calc(100% - 2.4rem);
        // display: flex;
      .backbord{
        width: 100%;
        height: 60%;
        background: nth($bgcolor,6);
        position: relative;
        &>img{
            width: 100%;
            height: 100%;
        }
        .mid_area{
            position: absolute;
            width: 50%;
            box-sizing: border-box;
            padding: 0 pxtorem(20);
            background: nth($bgcolor,5);
            height: pxtorem(40);
            bottom: 0px;
            border-top-right-radius: pxtorem(40); 
            // border-radius: pxtorem(10) pxtorem(160) 0 0 ;
           .cover{
            //    position: absolute;
               width: 100%;
               display: flex;
               justify-content: space-around;
                transform: translateY(-0.8rem);
               img{
                   width: pxtorem(60);
                   height: pxtorem(60);
                   border-radius: 50%;
               }
           }
        }
    }
       .screenraer{
            width:100%;
            height: 40%;
            background: nth($bgcolor,5);
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: space-around;
            li{
                width: 40%;
                overflow: hidden;
                height: pxtorem(80);
                // background: red;
                border-radius: pxtorem(5);
                // padding: pxtorem(30) 0;
                .opotion-box{
                    width:60%;
                    float: left;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                   div{
                        color:nth($bgcolor,5);
                   }
                    .opotion_value{
                        &::first-letter{
                            font-size: pxtorem(20);
                        }
                    }
                }
                img{
                    padding-top: 5%;
                    padding-left: 10%;
                    height: pxtorem(40);
                    float: left;
                    border-radius: pxtorem(5);
                    width: pxtorem(40);
                }
            }
        }
    }
    .footer{
        position: absolute;
        bottom: 0px;
    }

}
.alert{
    position: absolute;
    text-align: right;
    color: nth($bgcolor,5);
    right: 0px;
    bottom: 0px;
    width: 50%;
    padding-right: 5px;
    letter-spacing: pxtorem(5);
    span{
        font-size: pxtorem(25);
        color: nth($bgcolor,5);
    }
}
@import './home1alert.scss'